.container{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

body{
    margin: 0;
    padding:0 ;
}

/* * * * arrays-2 * * * */

p,h2{
    text-align: center;
}

table, td{
border: 1px dotted darkorange;
border-collapse: collapse;
background-color: bisque;
}

table{
    width: 40%;
    margin: auto;
}

td{
    padding: 25px;
    text-align: center;
}